.vj-logo {
  max-width: 22rem;
  width: 100%;
  display: block;
}

.vj-logo.ratio-21x9 {
  --bs-aspect-ratio: 15.8427%;
}

.header {
  padding: 4.8rem 0 2.4rem 0;
  height: var(--header-height);
}

.nav a {
  text-decoration: none;
  color: var(--dim-gray);
}

.nav a.active {
  color: var(--clr-black);
  text-decoration: underline;
  text-decoration-thickness: 2.5px;
  text-decoration-color: var(--dim-black);
  text-underline-offset: 5px;
}

@media (max-width: 767px) {
  .header-container {
    flex-direction: column;
    gap: 18px;
  }
}
